<% content_for(:title, 'Track a Report') %>

<div class="centeralign">
  <h1>Track Report Status</h1>

  <form>
    Report ID: <input type="text" name="ID"><br>
    <input type="submit" value="Submit">
  </form>

  <%= link_to 'Back', home_index_path, class: 'link' %>


</div>
