<% content_for(:title, 'About') %>

<div class="centeralign">
  <h1>About the Racial Bias Reporter</h1>

  <p>Created in Spring 2019 for CSC 415 at The College of New Jersey</p>
  
  <li><%= link_to 'Back', home_index_path, class: 'link link--underlined' %></li>

</div>
