<% content_for(:title, 'Edit a Report') %>

<h1>Editing Resolution Status</h1>

<%= render 'form-mod', report: @report %>

<%= link_to 'Cancel', current_school, class:"btn btn-sm btn-danger btn-outline" %>
