<% content_for(:title, 'Home') %>

<div class="centeralign">
  <h1>Racial Bias Reporter</h1>

  <P>Acts of racial bias and discrimination have no place on a college campus.</p>
  <p>Click the button below to submit a report</p>

  <button type="button">Report an Incident</button>


</div>
