<% content_for(:title, 'Home') %>

<div class="centeralign">
  <h1>Racial Bias Reporter</h1>
  
  <P>Acts of racial bias and discrimination have no place on a college campus.</p>
  <p>Click the links below to navigate the site</p>
  
  <%= link_to 'Report an Incident', reports_path, class: 'link' %>  
  <%= link_to 'Track a report', track_reports_path, class: 'link' %>
  <%= link_to 'About', about_index_path, class: 'link' %>
  
  
  <!--<p>Click the link below to log in</p>
      
      <%= link_to 'Log in'%>-->
  
</div>
