<% content_for(:title, 'Home') %>

<div class="centeralign">
  <h1>Racial Bias Reporter</h1>

  <P>Acts of racial bias and discrimination have no place on a college campus.</p>
  <p>Click the link below to submit a report</p>

  <li><%= link_to 'Report an Incident', reports_path, class: 'link' %></li>

  <p>Click the link below to track a report</p>
  
  <li><%= link_to 'Track a report', track_reports_path, class: 'link' %></li>

  <p>Click the link below to log in</p>

  <li><%= link_to 'Log in', class: 'link' %></li>


</div>
