@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

section {
  overflow: auto;
}

.container{
  text-align: center;
  margin-top: 20px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

//Style of 'logo' text used for nav bar
#logo {
  float: left;
  margin-right: 660px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;  
  font-weight: bold;
  //border-right: 1px solid black; 
}

/* Nav-Bar */

.front-nav-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;

  list-style: none;
  font-size: 1.0vw;

  padding: 1.5vw 0;
  border-bottom: 1px solid black;
  margin: 0 0 2vw 0;
  
  &__li {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 2vw;
    }

  &__li_b {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 2vw;
    border-left: 1px solid black;
    }   
}   

.front-show-main {
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    flex-basis: 50%;
  }
}