<header>
  <nav>
    <ul class="front-nav-ul">
      <li class="front-nav-ul__li"><%= link_to 'SUBMIT A REPORT', reports_path, class: 'link' %></li>
      <li class="front-nav-ul__li"><%= link_to 'ABOUT', about_index_path, class: 'link' %></li>      
    </ul>
  </nav>
</header>
<main>
  <%= yield %>
</main>
